@font-face {
	font-family:"OCR";
	src: url("assets/OCR A Std Regular.ttf") format("truetype");
}

html {
	box-sizing: border-box;
	font-size: 10px;
	background: #CDD8E9;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	/*font-family: "Amatic SC", cursive;*/
}

h1 {
	margin-top: 10px	;
	text-align: center;
	font-size: 8rem;
	line-height: 1;
	margin-bottom: 10px;
	font-family: "OCR";
}

.score {
	background: rgba(255, 255, 255, 0.2);
	padding: 0 3rem;
	line-height: 1;
	border-radius: 1rem;
	font-family: "OCR";
}

.container {
	width: 1400px;
	height: 450px;
	margin: auto;
	padding: 10px;
}

.options {
	/*margin-left: 55%;*/
	background: url("assets/img/Black Background.png") bottom center no-repeat;
	background-size: 650px 480px;
	width: 650px;
	height: 480px;
	/*background: black;*/
	float: left;
	/*object-fit: cover;*/
}

.game {
	margin-left: 800px;
	width: 460px;
	height: 430px;
	display: flex;
	flex-wrap: wrap;
	/*background: blue;*/
	cursor : url("assets/img/Hammer2.png"), auto;
}


.hole {
	flex: 1 0 33.33%;
	overflow: hidden;
	position: relative;
}

.hole:after {
	display: block;
	background: url("assets/img/hole.png") bottom center no-repeat;
	background-size: contain;
	content: "";
	width: 100%;
	height: 70px;
	position: absolute;
	z-index: 2;
	bottom: -30px;
}

.op {
	width: 380px;
	margin-top: 10px;
	margin-left: 125px;
	overflow: hidden;
}

.ques {
	width: 500px;
	height: 100px;
	margin-top: 10px;
	margin-left: 75px;
	overflow: hidden;
}

#q {
	color: aquamarine;
	font-size: 2.5em;
	font-family: "OCR";
	text-align: center;
	/*border-style: solid;*/
	/*border-color: red;*/
}

.op-img {
	font-family: "OCR";
	font-size: 1.2em;
	width: 380px;
	height: 60px;
	overflow: hidden;
	text-align: center;
	line-height: 60px;
}

#op1 {
	margin-top: 25px;
}

.mole {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	transition: all 0.4s;
}

.mole1 {
	background: url("assets/img/mole1.png") bottom center no-repeat;
	background-size: 60%;
}

.mole2 {
	background: url("assets/img/mole2.png") bottom center no-repeat;
	background-size: 40%;
}

.mole3 {
	background: url("assets/img/mole3.png") bottom center no-repeat;
	background-size: 60%;
}

.mole4 {
	background: url("assets/img/mole4.png") bottom center no-repeat;
	background-size: 40%;
}


.hole.up .mole {
	top: 0;
}

button {
	display: block;
	margin: 1em auto;
	border-radius: 25%;
	background-color: black;
	color: #fff;
	font-size: 2em;
	font-family: "OCR";
	margin-bottom: 10px;
}

button:active,
:focus {
	outline: none;
}
